body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

h1, h2 {
    text-align: center;
    margin-top: 20px;
}

main {
    padding: 20px;
}

.vazamentos-list {
    margin-top: 20px;
}

#vazamentos {
    list-style: none;
    padding: 0;
}

#vazamentos li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.detalhes {
    display: none;
}

img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-top: 20px;
}
@media (max-width: 768px) {
    main {
        padding: 10px;
    }
    img {
        width: 100%;
    }
}
#deleteVazamento {
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
/* Estilos para o campo de senha */
input[type="password"] {
    width: 100%; /* Largura total do campo */
    max-width: 300px; /* Limite máximo da largura */
    padding: 10px; /* Espaçamento interno */
    margin: 20px auto; /* Margem superior e inferior */
    border: 1px solid #ddd; /* Borda clara */
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 16px; /* Tamanho da fonte */
}

/* Estilos para o botão de envio */
button {
    background-color: #333; /* Cor de fundo escura */
    color: white; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    border: none; /* Remove a borda padrão */
    border-radius: 5px; /* Bordas arredondadas */
    cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
    font-size: 16px; /* Tamanho da fonte */
    display: block; /* Exibir como bloco */
    margin: 0 auto; /* Centralizar o botão */
}

button:hover {
    background-color: #555; /* Cor de fundo ao passar o mouse */
}

