body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

h1, h2 {
    text-align: center;
    margin-top: 20px;
}

main {
    padding: 20px;
}

.vazamentos-list {
    margin-top: 20px;
}

#vazamentos {
    list-style: none;
    padding: 0;
}

#vazamentos li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.detalhes {
    display: none;
}

img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-top: 20px;
}
@media (max-width: 768px) {
    main {
        padding: 10px;
    }
    img {
        width: 100%;
    }
}

